---
export type Props = {
  area: string;
  link?: string;
};

const { area, link } = Astro.props;
---

<div class="wrapper" id={area}>
  <a
    href={link}
    target={link?.startsWith("http") ? "_blank" : undefined}
    rel={link?.startsWith("http") ? "noreferrer" : undefined}
    class="card"
  >
    <slot>
      <div class="placeholder">
        Placeholder ({area})
      </div>
    </slot>
  </a>
</div>

<script define:vars={{ area }}>
  const wrapper = document.querySelector(`#${area}`);

  const easing = (value) => {
    const val = Math.abs(value) ** 1 * (value / Math.abs(value));
    if (Number.isNaN(val)) return 0;
    return val;
  };

  const clamp = (value) => Math.min(1, Math.max(0, value));

  const _handleMouseMove = (event) => {
    const { pageX, pageY } = event;

    const { left, top, width, height } = wrapper.getBoundingClientRect();
    const x = (clamp((pageX - left) / width) - 0.5) * 2;
    const y = -(clamp((pageY - window.scrollY - top) / height) - 0.5) * 2;

    wrapper.style.setProperty("--x", easing(x));
    wrapper.style.setProperty("--y", easing(y));
  };

  const _handleMouseLeave = () => {
    wrapper.style.setProperty("--x", 0);
    wrapper.style.setProperty("--y", 0);
  };
  _handleMouseLeave();

  wrapper.addEventListener("mousemove", _handleMouseMove);
  wrapper.addEventListener("mouseleave", _handleMouseLeave);
</script>

<style lang="scss" define:vars={{ area }}>
  div.wrapper {
    width: 100%;
    height: 100%;
    min-height: 240px;
    grid-area: var(--area);
    position: relative;
    @media (hover: hover) {
      perspective: 1000px;
    }
    a.card {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
      cursor: pointer;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      color: inherit;
      @media (hover: hover) {
        transform: rotate3d(var(--y), var(--x), 0, -8deg);
      }
      div.placeholder {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
