---
import Aac from "./Aac.astro";
import App from "./App.astro";
import Armadillo from "./Armadillo.astro";
import Undicat from "./Undicat.astro";
import Wallit from "./Wallit.astro";
---

<div class="wrapper">
  <App area="undicat">
    <Undicat />
  </App>
  <App area="aac">
    <Aac />
  </App>
  <App area="armadillo">
    <Armadillo />
  </App>
  <App area="wallit">
    <Wallit />
  </App>
</div>

<style lang="scss">
  div.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "undicat aac aac" "undicat armadillo wallit";
    grid-gap: 12px;
    margin: auto;
    width: calc(100vw - 48px);
    max-width: 1200px;
    margin-bottom: 256px;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "aac aac aac armadillo armadillo" "wallit wallit undicat undicat undicat";
    }
    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "undicat" "aac" "armadillo" "wallit";
    }
  }
</style>
