---
---

<div class="wrapper">
  <h1>Actegon Solutions</h1>
  <h2>Independent software developers, always working on something new.</h2>
</div>

<style lang="scss">
  div.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100vw - 48px);
    max-width: var(--max-width);
    margin: auto;
    h1 {
      font-size: 4rem;
      font-weight: 900;
      color: var(--colour-accent);
      margin: 0;
      margin-bottom: 24px;
      background: -webkit-linear-gradient(175deg, #ff1e00, rgb(210, 57, 27));
      background: -o-linear-gradient(175deg, #ff1e00, rgb(210, 57, 27));
      background: -moz-linear-gradient(175deg, #ff1e00, rgb(210, 57, 27));
      background: linear-gradient(175deg, #ff1e00, rgb(210, 57, 27));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // todo: animation
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      margin: 0;
      max-width: 720px;
    }
  }
</style>
