---
import Present from "./Present.astro";
---

<div class="wrapper">
  <Present />
  <h2>Present your card</h2>
  <p>Display the code on the card directly in Wallit!</p>
</div>

<style lang="scss">
  div.wrapper {
    text-align: center;
    padding-bottom: 64px;
    margin-bottom: 64px;
    h2 {
      width: fit-content;
      margin: auto;
      padding-inline: 12px;
      padding-top: 4px;
    }
    p {
      margin: 0;
      margin-top: 12px;
      opacity: 0.8;
    }
  }
</style>
